<div class="pure-u-1" id="list">
  <div class="exercise-item exercise-item-selected pure-g">
    <div class="pure-u">
      <a href="#led"><h4 class="exercise-title">LED</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#diode"><h4 class="exercise-title">Diode</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#resistor"><h4 class="exercise-title">Resistor</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#transistor"><h4 class="exercise-title">Transistor</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#servo"><h4 class="exercise-title">Servo</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#dcmotor"><h4 class="exercise-title">DC Motor</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#piezo"><h4 class="exercise-title">Piezo Element</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#ic"><h4 class="exercise-title">IC</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#pushbutton"><h4 class="exercise-title">Pushbutton</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#pot"><h4 class="exercise-title">Potentiometer</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#photoresistor"><h4 class="exercise-title">Photo Resistor</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#tempsensor"><h4 class="exercise-title">TMP36 Sensor</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#relay"><h4 class="exercise-title">Relay</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#breadboard"><h4 class="exercise-title">Breadboard</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#headerpins"><h4 class="exercise-title">Header Pins</h4></a>
    </div>
  </div>
</div>