<div class="pure-u-1" id="list">
  <div class="exercise-item exercise-item-selected pure-g">
    <div class="pure-u">
      <a href="#intro"><h4 class="exercise-title">Excercise <%= circCode %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#parts"><h4 class="exercise-title">Parts</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#circuit"><h4 class="exercise-title">Circuit Layout</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#assembly"><h4 class="exercise-title">Assembly</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#code"><h4 class="exercise-title">Code</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#troubleshooting"><h4 class="exercise-title">Troubleshooting</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#extending"><h4 class="exercise-title">Extending the Code</h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#more"><h4 class="exercise-title">More</h4></a>
    </div>
  </div>
</div>