<a id="intro"></a>
<div class="content-header pure-g">
	<div class="pure-u">
		<img class="header-image" alt="" src="/images/CIRC-<%= circCode %>-SQUARE-SPAR_tn.jpg"/>
	</div>
	<div class="pure-u">
		<h1 class="content-title"><%= title %></h1>
		<p class="content-subtitle">
			<%= subtitle %>
		</p>
	</div>

</div>
<div class="content-body">
	<%- content %>
</div>